/**
 * @file
 * Drupal-specific CSS fixes for the sumoselect.
 */
.SumoSelect label {
    display: block;
}
html body .SumoSelect {
    display: inline-block;
}

/* Added stronger selector until fixed upstream. */
.SelectClass, html select.SumoUnder {position: absolute;top: 0;left: 0;right: 0;height: 100%;width: 100%;border: none;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter: alpha(opacity=0);-moz-opacity: 0;-khtml-opacity: 0;opacity: 0;}

